*{padding: 0 ; margin: 0 ;}

body{
text-align: center;
height: 100%;
font-size: 100%;
position:absolute; top:0%; bottom:0%; right:0%; left:0%;
}

.hide{
display: none; 
}

.show{
display: block;
}

.showDivInRed{
	color: red;
}

.blueCell{
	background: blue;
}

.greenCell{
	background: green;
}

#headerSimpleLoop, #headerNestedLoop {
position: absolute;
color:#727272;
top:0;bottom: 0;left: 0;right: 0;
width:100%;
height:6%;
border-bottom:1px solid #CCC;
font-size:4.2vmin;
padding-top: 1.3vmin;
background:#f0f0f0;
}

.inputDivision, .outputDivision, .executionDivision{
top:11%;
height:87%; 
position: absolute;
}

.executionDivision{
left: 21.8%;
width:34.5%;
}

.inputDivision{
left:1.4%;
width:19%;
}

.outputDivision{
left:57.7%;
width:41%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle{
text-align: center;
top: 0%;
height:6%;
color: #727272;
font-size:3.5vmin;
padding-top: .7vmin;
width:100%;
border: 1px solid #CCC;
}

.inputDivisionSimpleLoop, .nested{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
border:1px solid #CCC;
}


.factorialText{
position: absolute;
width: 100%;
top: 4%;
font-size: 2.8vmin;
text-align: center;
}

.inputFieldSimpleLoop{
height: 100%;
width: 80%;
border:1px solid #CCC;
outline: none;
}

.arraySizeDivision, .startButtonDivision{
position: absolute;
width: 100%;
height:6%;
}

.arraySizeDivision{
top: 10%;
}

.startButtonDivision{
top: 18%;
}

.startButton{
height: 100%;
width: 80%;
left: 10%;
top: 0%;
}

.radioButtonDivision{
position: absolute;
height:45%;
top:30%;
width:80%;
left: 10%;
}


.randomRadioButtonDivision{
left:0%;
top:0%;
width:100%;
height: 10%;
text-align: left;
font-size: 2.2vmin;
}

.enterValueRadioButtonDivision{
left:0%;
top:18%;
width:100%;
height:10%;
text-align: left;
font-size: 2.2vmin;
}

.textAreaDivision{
position: absolute;
left:0%;
top:23%;
width:100%;
height: 35%;
}


.arrayInputField{
position:absolute;
top:0%;
left: 0%;
height:100%;
width:100%;
border:1px solid #CCC;
outline: none;
overflow: auto;
}



.nextButtonDivision{
position: absolute;
width: 100%;
height:12%;
top: 70%;
}

.nextButton{
height: 100%;
width: 100%;
left: 0%;
top: 0%;
}

.inputFieldSimpleLoop, .startButton, .loopList, .nestedButton{
position: absolute;
text-align:center;
left: 10%;
}

.loopList, .nestedButton{
height: 6%;
width: 80%;
}

.nestedButton{
top: 85%;
}

.inputDivisionSimpleLoop, .nested{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
border:1px solid #CCC;
}

.height_of_pyramid_text{
position: absolute;
top: 4%;
height: 10%;
width: 100%;
font-size: 2.5vmin;
text-align: center;
}

.MatrixRowDivision{
position: absolute;
top: 12%;
width: 100%;
height: 5%;
}

.input_pyramid_height{
height: 100%;
width: 80%;
border:1px solid #CCC;
position: absolute;
text-align:center;
font-size:2.8vmin;
left: 10%;
outline: none;
}

.multiplicationLable{
position: absolute;
top: 18%;
width: 100%;
height: 3%;
}

.MatrixColumnDivision{
position: absolute;
top: 22%;
width: 100%;
height: 5%;
}

.input_pyramid_height{
height: 100%;
width: 80%;
border:1px solid #CCC;
position: absolute;
text-align:center;
font-size:2.8vmin;
left: 10%;
outline: none;
}

.nestedOkButtonDivision{
position: absolute;
width: 100%;
height:6%;
top: 31%;
}

.matrixCell{
	border: 1px solid #ccc;
	min-height: 25px;
	min-width: 25px;
}

.table{
	border-top: 1px solid #CCC;
	height: 88.5%;
	width: 100%;
}

.matrixA{
position: absolute;
left: 0%;
width: 49%;
height: 38%;
top: 0%;
border: 1px solid #ccc;
overflow: auto;
}

.matrixB{
	overflow: auto;
position: absolute;
left: 51%;
width: 49%;
height: 38%;
top: 0%;
border: 1px solid #ccc;
}

.resultantMatrix{
position: absolute;
left: 0%;
width: 100%;
height: 60%;
top: 40%;
border: 1px solid #ccc;
float: center;
}

.nestedNextButton{
width:80%;
height:100%;
font-size: 15px;
float: center;

}

.generateValueButtonDivision{
position: absolute;
width: 100%;
height:6%;
top: 47%;	
float: left;
}

.nestedStartButtonDivision{
position: absolute;
width: 100%;
height:6%;
top: 64%;	
}

.nestedNextButtonDivision{
position: absolute;
width: 100%;
height:6%;
top: 72%;	
}

.stepExecutionDisplay{
padding-left: 2%;
overflow-x:auto;
font-size: 3vmin;
position: absolute;
top: 10%;
left:0%;
width:97.8%;
height:90%;
text-align: left;
border:1px solid #CCC;
}

.resultDisplay{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
font-size: 3vmin;
border:1px solid #CCC;
}

.KeyPointerDisplayDivision{
position: absolute;
border:1px solid #CCC;
height: 5%;
width: 96%;
top: 3%;
left: 2%;
}

.sortedKeyLabel, .unsortedKeyLabel, .keyPositionLabel{
position: absolute;
width: 10%;
height:100%;
top: 0%;
}

.sortedKeyLabel{
left: 0%;
border-right:1px solid #CCC;
background: #fff;
}

.unsortedKeyLabel{
left: 30%;
background: #558cff;
}

.keyPositionLabel{
left: 60%;
background: #7fd1a7;
}

.sortedKeyLabelText, .unsortedKeyLabelText, .keyPositionLabelText{
position: absolute;
height:100%;
top: 0%;
}

.sortedKeyLabelText{
left:10%;
width: 20%;
} 

.unsortedKeyLabelText{
left:40%;
width: 20%;
}

.keyPositionLabelText{
left:70%;
width:30%;	
}

.arrayElementInnerBox{
width:20px;
height:20px;
margin: 3px;
border:1px solid #CCC;
}

.sortingDivision{
position: absolute;
height: 78%;
width: 96%;
top: 10%;
left: 2%;
border:1px solid #CCC;
overflow:auto;
}

.sortedArray, .UnsortedArray, .keyPosition{
width:8%;
height:5%;
border:1px solid #CCC;
margin: 2%;
float: left;
}

.sortedArray{
background: #fff;
}

.UnsortedArray{
background: #558cff;
}

.keyPosition{
background: #7fd1a7;
}

.currentKeyPositionIndicator{
position: absolute;
height: 5%;
width: 96%;
top: 90%;
left: 2%;
}

.currentKeyValue{
position: absolute;
border:1px solid #CCC;
height: 100%;
width: 8%;
top: 0%;
left: 5%;
}

.textKeyValue{
position: absolute;
height: 100%;
width: 92%;
top: 0%;
left: 15%;
text-align: left;
margin-left: 1%;
}



