*{padding: 0 ; margin: 0 ;}

body{
height: 100%;
position:absolute; top:0%; bottom:0%; right:0%; left:0%;
text-align: center;
background-color:rgb(220,220,220);
}

#headerSimpleLoop, #headerNestedLoop {
position: absolute;
top:0;bottom: 0;left: 0;right: 0;
width:100%;
height:7%;
border-bottom:1px solid #969696;
font-size:4.5vmin;
padding-top: 1.5vmin;
}

.inputDivision, .outputDivision, .executionDivision{
top:11%;
height:87%; 
position: absolute;
}

.inputDivision{
left: 3%;
width:19%;
}

.executionDivision{
left: 25%;
width:30%;
}

.outputDivision{
left:58%;
width:39%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle{
position: absolute;
padding-top: 0.8vmin;
top: 0%;
height:6%;
font-size:3.5vmin;
width:100%;
border: 1px solid #969696;
}

.factorialText{
position: absolute;
width: 100%;
top: 4%;
font-size: 2.5vmin;
text-align: center;
}

.height_of_pyramid_text{
position: absolute;
width: 100%;
top: 22%;
font-size: 2.5vmin;
text-align: center;
}

.inputFieldSimpleLoop{
height: 6%;
top: 10%;
width: 80%;
border:1px solid #969696;
outline: none;
}

.input_pyramid_height{
height: 6%;
top: 30%;
width: 80%;
border:1px solid #969696;
}

.inputFieldSimpleLoop, .input_pyramid_height, .startButton, .nextButton, .loopList, .nestedButton{
position: absolute;
text-align:center;
font-size:2.8vmin;
left: 10%;
}

.radioButtonDivision{
text-align: left;
position: absolute;
height:70%;
top:35%;
width:100%;
padding-left: 10%;
}

.arrayInputField{
position:absolute;
top:16%;
height:20%;
width:72%;
border:1px solid #969696;
}

.startButton, .loopList, .nestedButton{
height: 7%;
width: 80%;
}

.startButton{
top: 20%;
}

.nextButton{
top: 40%;
height: 10%;
width: 72%;
}

.nestedButton{
top: 80%;
}

.localVariables{
position: absolute;
font-size: 2.5vmin;
top: 10%;
left: 0%;
height: 20%;
width: 100%;
border: 1px solid #969696;
}

.localVariableTitle{
top: 10%;
line-height: 100%;
text-align: center;
height: 20%;
width: 100%;
border-bottom: 1px solid #969696;
}

.localVariableI,.localVariableFact{
position: absolute;
width: 50%;
}

.localVariableI{
top: 40%;
left: 20%;
}

.localVariableFact{
top: 70%;
left: 16%;
}

#localVariableI{
position: absolute;
top: 40%;
left: 60%;
color: red;
}

#localVariableFact{
position: absolute;
top: 70%;
left: 60%;
color: red;
}

.nestedlocalVariableI, .nestedlocalVariableJ, .nestedlocalVariableK{
position: absolute;
left: 30%;
}

.nestedlocalVariableI{
top: 35%;
}

.nestedlocalVariableJ{
top: 58%;
}

.nestedlocalVariableK{
top: 80%;
}

#nestedlocalVariableI, #nestedlocalVariableJ, #nestedlocalVariableK{
position: absolute;
left: 50%;
color: red;
}

#nestedlocalVariableI{
top: 35%;
}

#nestedlocalVariableJ{
top: 58%;
}

#nestedlocalVariableK{
top: 80%;
}

.loopList{
left: 10%;
position: absolute;
top: 10%;
}

.inputDivisionSimpleLoop, .nested{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
border:1px solid #969696;
}

.resultDisplay{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
font-size: 3vmin;
border:1px solid #969696;
}

.KeyPointerDisplayDivision{
position: absolute;
border:1px solid #969696;
height: 5%;
width: 96%;
top: 3%;
left: 2%;
}

.sortedKeyLabel, .unsortedKeyLabel, .keyPositionLabel{
position: absolute;
width: 10%;
height:100%;
top: 0%;
}

.sortedKeyLabel{
left: 0%;
border-right:1px solid #969696;
background: #fff;
}

.unsortedKeyLabel{
left: 30%;
background: #FFFF99;
}

.keyPositionLabel{
left: 60%;
background: #7fd1a7;
}

.sortedKeyLabelText, .unsortedKeyLabelText, .keyPositionLabelText{
position: absolute;
height:100%;
top: 0%;
}

.sortedKeyLabelText{
left:10%;
width: 20%;
} 

.unsortedKeyLabelText{
left:40%;
width: 20%;
}

.keyPositionLabelText{
left:70%;
width:30%;	
}

.arrayElementInnerBox{
width:20px;
height:20px;
margin: 3px;
border:1px solid #969696;
}

.sortingDivision{
position: absolute;
height: 78%;
width: 96%;
top: 10%;
left: 2%;
border:1px solid #969696;
overflow:auto;
}

.sortedArray, .unSortedArray, .keyPosition{
	width:80%;
	height:80%;
	border:1px solid #969696;
	margin: 10%;
	float: left;
}

.outerDiv{
	width: 10%;
	height: 8%;
	float: left;
}
.sortedArray{
	background: #fff;
}
.unSortedArray{
	background: #FFFF99;
}
.keyPosition{
	background: #7fd1a7;
}

.currentKeyPositionIndicator{
position: absolute;
height: 5%;
width: 96%;
top: 90%;
left: 2%;
}

.codeLayout{
	text-align: left;
}

.singleIndented{
	padding-left: 5%;
}

.doubleIndented{
	padding-left: 10%;
}

.currentKeyValue{
position: absolute;
border:1px solid #969696;
height: 100%;
width: 8%;
top: 0%;
left: 5%;
}

.textKeyValue{
position: absolute;
height: 100%;
width: 92%;
top: 0%;
left: 15%;
text-align: left;
margin-left: 1%;
}

.stepExecutionDisplay{
padding-left: 2%;
overflow-x:auto;
font-size: 3vmin;
position: absolute;
top: 10%;
left:0%;
width:97.8%;
height:90%;
text-align: center;
border:1px solid #969696;
}

.hide {
display: none;
}

.show {
	display: block;
}

.showDiv {
display: block;
text-align: left;
color: black;
}

.showDivInRed {
display: block;
color: red;
text-align: left;
}

.nestedlocalVariableI, .nestedlocalVariableJ, .nestedlocalVariableK{
position: absolute;
left: 30%;
}

.nestedlocalVariableI{
top: 35%;

}

.nestedlocalVariableJ{
top: 55%;
}

.nestedlocalVariableK{
top: 80%;
}

@media only screen  and (max-height: 600px) { 
.startButton{
top: 50%;
}

.nextButton{
top: 60%;
}

.nestedButton{
top: 80%;
}

.inputFieldSimpleLoop, .input_pyramid_height{
top: 35%;	
}
}


@media only screen  and (max-height: 600px) and (orientation: landscape) { 

.startButton, .nextButton, .loopList, .nestedButton{
height: 10%;
}

.inputFieldSimpleLoop, .input_pyramid_height, .startButton, .nextButton, .loopList, .nestedButton{
font-size: 3.2vmin;
}

.inputFieldSimpleLoop, .input_pyramid_height{
height:7.5%;
}

.factorialText,.height_of_pyramid_text{
font-size: 2.8vmin;
}
}

@media only screen  and (max-height: 700px)  and (orientation: portrait) { 
.nestedButton{
height: 10%;
}

.localVariableTitle{
height: 35%;
}
}