*{padding: 0 ; margin: 0 ;}

body{
height: 100%;
position:absolute; top:0%; bottom:0%; right:0%; left:0%;
text-align: center;
background-color:rgb(220,220,220);
}

#headerSimpleLoop, #headerNestedLoop {
position: absolute;
top:0;bottom: 0;left: 0;right: 0;
width:100%;
height:7%;
border-bottom:1px solid #969696;
font-size:4.5vmin;
padding-top: 1.5vmin;
}

.inputDivision, .outputDivision, .executionDivision{
top:11%;
height:87%; 
position: absolute;
}

.inputDivision{
left: 3%;
width:19%;
}

.executionDivision{
left: 25%;
width:40%;
}

.outputDivision{
left:68%;
width:29%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle{
position: absolute;
padding-top: 0.8vmin;
top: 0%;
height:6%;
font-size:3.5vmin;
width:100%;
border: 1px solid #969696;
}

.loopTypeText{
position: absolute;
top: 4.0%;
width:100%;
text-align: center;
font-size: 2.5vmin;
}

.factorialText,.height_of_pyramid_text{
position: absolute;
width: 100%;
top: 22%;
font-size: 2.5vmin;
text-align: center;
}

.inputFieldSimpleLoop, .input_pyramid_height{
height: 6%;
top: 30%;
width: 80%;
border:1px solid #969696;
}

.inputFieldSimpleLoop, .input_pyramid_height,.startButton, .nextButton, .loopList, .nestedButton{
position: absolute;
text-align:center;
font-size:2.8vmin;
left: 10%;
}

.startButton, .nextButton, .loopList, .nestedButton{
height: 7%;
width: 80%;
}

.startButton{
top: 45%;
}

.nextButton{
top: 55%;
}

.nestedButton{
top: 70%;
}

.localVariables{
position: absolute;
font-size: 2.5vmin;
top: 10%;
left: 0%;
height: 20%;
width: 100%;
border: 1px solid #969696;
}

.localVariableTitle{
top: 10%;
line-height: 100%;
text-align: center;
height: 20%;
width: 100%;
border-bottom: 1px solid #969696;
}

.localVariableI,.localVariableFact{
position: absolute;
width: 50%;
}

.localVariableI{
top: 40%;
left: 20%;
}

.localVariableFact{
top: 70%;
left: 16%;
}

#localVariableI{
position: absolute;
top: 40%;
left: 60%;
color: red;
}

#localVariableFact{
position: absolute;
top: 70%;
left: 60%;
color: red;
}

.nestedlocalVariableI, .nestedlocalVariableJ, .nestedlocalVariableK{
position: absolute;
left: 30%;
}

.nestedlocalVariableI{
top: 35%;
}

.nestedlocalVariableJ{
top: 58%;
}

.nestedlocalVariableK{
top: 80%;
}

#nestedlocalVariableI, #nestedlocalVariableJ, #nestedlocalVariableK{
position: absolute;
left: 50%;
color: red;
}

#nestedlocalVariableI{
top: 35%;
}

#nestedlocalVariableJ{
top: 58%;
}

#nestedlocalVariableK{
top: 80%;
}

.loopList{
left: 10%;
position: absolute;
top: 10%;
}

.inputDivisionSimpleLoop, .nested{
position: absolute;
top: 10%;
left:0%;
width:100%;
height:90%;
text-align: center;
font-size: 1em;
border:1px solid #969696;
}

.resultDisplay{
position: absolute;
top: 32%;
left:0%;
width:100%;
height:68%;
text-align: center;
font-size: 1em;
font-size: 3vmin;
border:1px solid #969696;
}

.stepExecutionDisplay{
padding-left: 2%;
overflow-x:auto;
font-size: 3vmin;
position: absolute;
top: 10%;
left:0%;
width:97.8%;
height:90%;
text-align: center;
border:1px solid #969696;
}

.hide {
display: none;
}

.showDiv {
display: block;
text-align: left;
color: black;
}

.showDivInRed {
display: block;
color: red;
text-align: left;
}

.nestedlocalVariableI, .nestedlocalVariableJ, .nestedlocalVariableK{
position: absolute;
left: 30%;
}

.nestedlocalVariableI{
top: 35%;

}

.nestedlocalVariableJ{
top: 55%;
}

.nestedlocalVariableK{
top: 80%;
}

@media only screen  and (max-height: 600px) { 
.startButton{
top: 50%;
}

.nextButton{
top: 60%;
}

.nestedButton{
top: 80%;
}

.inputFieldSimpleLoop, .input_pyramid_height{
top: 35%;	
}
}


@media only screen  and (max-height: 600px) and (orientation: landscape) { 

.startButton, .nextButton, .loopList, .nestedButton{
height: 10%;
}

.inputFieldSimpleLoop, .input_pyramid_height, .startButton, .nextButton, .loopList, .nestedButton{
font-size: 3.2vmin;
}

.inputFieldSimpleLoop, .input_pyramid_height{
height:7.5%;
}

.factorialText,.height_of_pyramid_text{
font-size: 2.8vmin;
}
}

@media only screen  and (max-height: 700px)  and (orientation: portrait) { 
.nestedButton{
height: 10%;
}

.localVariableTitle{
height: 35%;
}
}